:root {
    --white: #FFF;
    --primary: #4673d4;
    --primary-hover: #527fe0;
    --default: #5786ec;
    --default-hover: #7199f0;
    --warning: #f1c40f;
    --warning-hover: #f5d76e;
    --danger: #e74c3c;
    --danger-hover: #f77a66;
    --cancel: #6e6e6e;
    --cancel-hover: #8e8e8e;
    --background-notify: #ecebeb;
}